<component name="libraryTable">
  <library name="Spring-lib (2)">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/spring-porject01/Spring-lib" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/spring-porject01/Spring-lib" recursive="false" type="SOURCES" />
  </library>
</component>